{{ partial "header.html" . }}

<div id="page">
    <!--<h1>{{ .Title }}</h1>-->
    <div class="content">
        <div class="container pricing">
            <div class="cards-list">
                <div class="item card">
                    <div class="head">
                        <h3>Free</h3>
                    </div>
                    <div class="bn-pattern kenzo-back gray">
                        <div class="kenzo">
                        </div>
                    </div>
                    <div class="body">
                        <p>1 попугай</p>
                        <p>100Мб белого снега</p>
                    </div>
                    <div class="price">
                        <span>Бесплатно</span>
                    </div>
                </div>
                <div class="item card">
                    <div class="head">
                        <h3>Basic</h3>
                    </div>
                    <div class="bn-pattern kenzo-back basic">
                        <div class="kenzo">
                        </div>
                    </div>
                    <div class="body">
                        <p>До 3 попугаев</p>
                        <p>10Гб синих ягод</p>
                    </div>
                    <div class="price">
                        <span>3&nbsp;097&nbsp;&#8381; / месяц</span>
                    </div>
                </div>
                <div class="item card">
                    <div class="head">
                        <h3>Premium</h3>
                    </div>
                    <div class="bn-pattern kenzo-back pro">
                        <div class="kenzo">
                        </div>
                    </div>
                    <div class="body">
                        <p>До 10 попугаев</p>
                        <p>30Гб красного полусладкого</p>
                    </div>
                    <div class="price">
                        <span>7&nbsp;152&nbsp;&#8381; / месяц</span>
                    </div>
                </div>
                <div class="item card">
                    <div class="head">
                        <h3>Enterprise</h3>
                    </div>
                    <div class="bn-pattern kenzo-back enterprise">
                        <div class="kenzo">
                        </div>
                    </div>
                    <div class="body">
                        <p>Говорящие попугаи и многое другое</p>
                    </div>
                    <div class="price">
                        <span>По запросу</span>
                    </div>
                </div>
            </div>
            <div class="sign-up">
                <button type="button">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}