<div id="navbar" {{ if eq $.IsHome false }} class="no-expand blog" {{ end }} >
    <div class="container">
        <a href="#" data-menu="sidenav" class="nav-toggle menu">
            <img src="/img/menu.svg" alt="menu"/>
        </a>
        <div class="logo">
            <a href="index.html" class="nav-link"><!--<img src="img/favicon.svg" alt="logo"/>-->BLANK</a>
        </div>
        <ul class="nav collapse" id="nav">
            <li>
                <a href="/doc/introduction/" class="nav-link index-link {{if $.IsPage}}{{if eq $.Section "doc"}}active{{ end }}{{ end }}">
                    Документация
                </a>
            </li>
            <li>
                <a href="#contacts" class="nav-link index-link" data-active-until="contacts-end" data-active-after="contacts-start">
                    Контакты
                </a>
            </li>
            <li>
                <a href="https://github.com/getblank/" class="nav-link">
                    <img src="img/GitHub-Mark-Light-32px.png" style="width: 14px; height: 14px; position: relative; top: 1px" border="0">
                    GitHub
                </a>
            </li>
        </ul>
        <!--<a href="#" data-menu="search" data-focus="quick-search-input" class="nav-toggle search">
            <img src="/img/search.svg" alt="search"/>
        </a>
        <div id="user-bar"></div>-->
    </div>
</div>